/* .form-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.form-card {
  padding: 40px;
  width: 420px;
  border-radius: 20px !important;
  background-color: #ffffff;
}

.form-title {
  text-align: center;
  font-weight: bold;
  color: #1e3c72;
}

.submit-btn {
  background-color: #1e3c72 !important;
  padding: 12px !important;
  font-weight: bold !important;
}

.submit-btn:hover {
  background-color: #16325c !important;
} */